::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  border-left: 6px solid transparent;
  border-right: 1px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  min-height: 28px;
  padding-top: 100px;
  border-left: 6px solid transparent;
  border-right: 1px solid transparent;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
  background-clip: padding-box;
  background-color: rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-corner {
    border-left: 6px solid transparent;
    border-right: 1px solid transparent;
    background-clip: padding-box;
}
